<form name="input" action="/submit/" method="post">

<label for="name">Full Name</label><input placeholder="Who are you?" type="text" name="name" />
<label for="others">Who will be your guest(s)?</label><textarea placeholder="List the names of any invited guests or children that will accompany you." name="others"></textarea>
<label for="notes">Notes</label><textarea placeholder="Is there anything else we should know?" name="notes"></textarea>


<input type="submit" value="Login" />