<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>RSVP from <%= @name %></h1>
    <p><strong>RSVP Submitted by:</strong><br/>
    	<%= @name %>
    </p>
    <p><strong>They will be coming with:</strong><br/>
		<%= @others %>
    </p>
    <p><strong>Notes:</strong><br/>
		<%= @notes %>
    </p>
  </body>
</html>