<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>RSVP Received</h1>
    <p>Someone just submitted an RSVP!</p>
  </body>
</html>